{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <article>
            <h2>{{show.name}}</h2>
            <h4>
                {% if show.inProduction %}
                    This show is still being produced
                {% else %}
                    This show is done or got canceled. Time to find another one!
                {% endif %}
            </h4>
            <h4>The genres of the show are: {{ show.genre }}</h4>
                {% if show.owner == userId %}
                        <hr>
                        <div class="btn-group">
                            <a href="/shows/edit/{{show.id}}" class="btn btn-primary me-3">Edit {{show.name}}</a>
                            <form action="/shows/{{show.id}}?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-danger" value="Delete {{show.name}}">
                            </form>
                        </div>
                {% endif %}
        </article>
        <hr>
        <h4>comments</h4>
        <hr>
        {% if show.comments.length > 0 %}
            <div class="container-sm justify-content-center">
                {% for comm in show.comments %} 
                    {%  render '../comment.liquid', comm: comm, userId: userId, show: show %}
                {% endfor %}
            </div>
        {% else %}
            <small>no comments yet...</small>
        {% endif %}
    </div>
{% endblock %}